@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 12px 0px 0px 12px;
  float: left;
  width: 190px;
}

#ver {
  padding: 10px;
  border-radius: 0px 12px 12px 0px;
  border: none;
  outline: none;
}

.largo__de__contra {
  margin-top: 14px;
  margin-bottom: 14px;
}

#largo {
  color: #333;
  font-weight: bold;
}

.eye-icon {
  cursor: pointer;
}

.eye-icon.visible::before {
  content: "\f06e";
}

.eye-icon::before {
  content: "\f070";
}

.eye-icon.visible {
  color: #753a88;
}

.validar {
  padding: 0px;
  color: #555;
  margin-top: 14px;
  margin-bottom: 14px;
}

.icon:before {
  display: inline-block;
  margin-right: 5px;
}

.icon.fa-check-circle {
  color: green;
}

.icon.fa-times-circle {
  color: red;
}